# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here

# App URLs
NEXT_PUBLIC_HUB_URL=http://localhost:3000
NEXT_PUBLIC_CLIENT_URL=http://localhost:3001

# Pennylane
# Sandbox : https://sandbox.pennylane.com/api/external/v2
# Prod    : https://app.pennylane.com/api/external/v2
PENNYLANE_API_URL=https://sandbox.pennylane.com/api/external/v2
PENNYLANE_API_TOKEN=your-pennylane-api-token-here
